.lover-container{
    font-family: Exo;
    display: flex;
    flex-direction: column;
}

.wrapper-lover-header{
    text-align: center;
    max-height: 80vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 3rem;
}

.lover-header{
    background-color: rgb(5, 70, 48);
    position: relative;
    background-repeat: no-repeat;
    height: 75vh;
    width: 80vw;
    background-size: cover;
    background-clip: border-box;
    background-image: url(https://images.ctfassets.net/4f3rgqwzdznj/4IPtB6YNbhB6VKcH5c5wwS/4ddf7ad3cc59e8af7bf18fad0f2f0156/golden_retriever_gray_cat-1027475322.jpg);
    
}

.lover-header > h2{
    color: black;
    position: absolute;
    text-decoration: overline;
    top: 15%;
    left: 25%;
    transform: translate(0,-25%);
}

.lover-header >h4{
    color: black;
    position: absolute;
    top: 5%;
    left: 29%;
}

.lover-header >h6{
    color: black;
    position: absolute;
    top: 93%;
    left: 60%;
    transform: translate(-93%,-60%);
    border: 2px solid black;
    padding: .3rem;
    border-radius: 15%;
}

.lover-header >h6:hover{
    border: 3px solid #F7D65A;
}
