.homepage{
    /* background-image:url(https://www.hdwallpapers.in/download/corgi_pet_dog_is_sitting_on_wooden_bench_4k_5k_hd_animals-5120x2880.jpg);     */
    background-image: url(../../Image/corgi_pet_dog_is_sitting_on_wooden_bench_4k_5k_hd_animals-5120x2880.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 7px 3px -3px rgba(50,50,50,0.75);

}

.header_content{
    margin-left: 5vh;
    padding-top: 20vw; 
    position: relative;
 }

.header_desc{
    width:45%;
    margin-left: 1.25rem;
    color: whitesmoke;
    font-family: Exo;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0.7vw;
    z-index: 2;
    position: absolute;
    top: 38%;
    left: 3%;
}


.letstry{
    z-index: 2;
    font-family: Exo;
    font-weight: 'large';
    position: absolute;
    top: 72%;
    left: 24%;
}

.Role-opetions{
    padding: 1rem;
    justify-content: center; 
    /* background: linear-gradient(-45deg,#006B5E,#C4FCF0); */
    width: 100%;
    position: relative;
}

.containertop{
    margin-top: 2rem ;
    padding: 1rem;
    justify-content: center;
    width: 100%;
    position: relative;
    /* backdrop-filter: opacity(2px);
    background-image: url("https://t3.ftcdn.net/jpg/02/98/20/18/360_F_298201821_e90YxH0f6FBwOvcKhynlwF8sNYxlCMsg.jpg"); */
    /* background: linear-gradient(90deg,#006B5E,#C4FCF0); */
}

.wju{
    text-align: center;
    font-family: BioRhyme;
    font-weight: bold;
}

.aboutus{
    border: 5px solid #006B5E;
    color:#006B5E;
    background-color: rgba(245, 245, 220, 0.808);
    /* background-color: #006B5E;
    color: rgba(245, 245, 220, 0.808); */
    padding: 7px 20px;
    font-family: Exo;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);;
}

.aboutus:hover{
    background-color: #006B5E;
    color: rgba(245, 245, 220, 0.808);
    /* border: 5px solid #006B5E;
    color:#006B5E;
    background-color: rgba(245, 245, 220, 0.808); */
}

