.parent-container{
    flex-direction: column;
    font-family: Exo;
}

.parent-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    justify-content:space-around;
    /* background-image: url(https://img.freepik.com/premium-photo/grunge-background-with-space-text-image_196038-5128.jpg?w=2000); */
}

.parent-header-content{
    color: black;
    font-family: Exo;
    height: fit-content;
    width: 45%;
    margin-top: 7%;
    margin-left: 4%;
}

.parent-header-content-h1{
    color: #006B5E;
    text-decoration: underline #F7D65A;
}

.parent-header-frame{
    max-width: 50%;
    max-height: 65vh;
}

.parent-header-frame > img{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.side-pointer-container{
    max-height: "max-content";
    max-width: 65%;
    flex: 1 ;
    justify-items: "center";
    padding: .5rem ;
}

.h2style{
    color: #1B3D2F;
    font-family: Exo;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    margin-inline: 15rem;
    display: block;
}

.parent-bottom-container{
    flex-direction: column;
    background-image: url(../../assets/Image/petBackground.png);
    /* background-image: url(https://www.smartpractice.com/Images/Products/PC/PhotoLg/EN0271.jpg); */
    background-size: 100vw 73vh;
    background-repeat: no-repeat;
    padding: 4rem;
}

.add-pet-btn-container{
    max-width: 245px; 
    max-height: 350px ; 
    margin-left: .5rem;
    background-color: #CDC4BB ; 
    opacity: 90%;
    width: 320px ; 
    position: relative; 
    border-radius: 5%;
}

.add-pet-btn-container:hover{
    box-shadow: 2px 1px 5px .5px black;
}

.add-pet-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 60%;
    background-color: transparent;
    border: none;
}

.rotation-add:active {
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
 }
