.topbg{
    height: 75vh;
    width: 70vw;
}

.doggif{
    position: absolute;
    top: 75vh;
    left: 0vw;
    /* width: 60vh; */
    height: 60vh;
}

.missionimg{
    position:absolute;
    top: 25vh;
    left: 25vw;
    height:60vh;
    z-index: 1;
}

.written-content{
    position:absolute;
    top: 80vh;
    left: 45vw;
    width: 53vw;
    z-index: 2;
    text-align: center;
    border: .2rem solid black;
    border-radius: .2rem;
    padding: .7rem;
}