.footer-content{
    background-color: rgb(22, 22, 22); 
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-developer-content{
    max-width: 50%;
}

.footer-developer-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.94rem;
    width: 75%;
}

.footer-developer-profiles > img{
    border-radius: 50%;
    height: 45%;
    width: 45%;
}
.footer-developer-profiles > h6{
    margin-top: 5px;
}

.footer-socialmedia-links{
    margin-top: 0.75rem;
    display: flex;    justify-content: space-around;
    gap: 10px;
}

.footer-socialmedia-links >a {
    color: #4f4f4f;
}

.footer-socialmedia-links >a :hover{
    color:#F7D65A;
} 


.enhance-image:hover{
    transition: 0.2s;
 transform: scale(1.3);
}