.container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container > div {
    margin: 0.625rem;
    text-align: center;
}

.card-div:hover{
    transition: 0.1s;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}
