.about-us-main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.about-us-wrapper{
    height: 100%;
    font-family: Exo;
}

.about-us-main-content{
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-leftList{
    padding: 1rem;
}