.about-us-main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.about-us-wrapper{
    height: 100%;
}

.about-us-main-content{
    margin: 2rem;
    width: 100%;
}
.about-us-leftList{
    padding: 1rem;
}